* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .container{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }

  body{
    background-color: rgb(43, 43, 227);
  }

  
  h1{
    color: white;
    font-size: 150px;
    text-align: center;
  }

.countdown{
    text-align: center;
    display: flex;
    justify-content: center;
}

ul,li{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-left: 5rem;
    font-size: 50px;
}