*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  text-align: center;
  background-color: blue;
  color: white;
}

h1,
h2{
  padding-top: 2rem;
  margin-bottom: 2rem;
}

main{
  padding: 2rem;
}

ul,li{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-left: 5rem;
    font-size: 50px;
}